<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import CustomerDialog from "./CustomerDialog.vue";
import { onMounted } from "vue";
const customerStore = useCustomerStore();
onMounted(async () => {
  await customerStore.getCustomers();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-btn @click="customerStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Tel</th>
        <th>Gender</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in customerStore.customers" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <v-btn class="mr-5" @Click="customerStore.editCustomer(item)"
            >Edit</v-btn
          ><v-btn @click="customerStore.deleteC(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
